# Ignorar imágenes y directorios de imágenes
128imgs.png
imgs_128/
train_imgs/

# Ignorar caché de Python
__pycache__/

# Ignorar todos los modelos entrenados por defecto
train_models/*

# Ignorar todo en logs, excepto el archivo .txt
logs/*
!logs/gan1/*.txt
!logs/gan2/*.txt

# Excluir este script y el .gitignore generado
git.sh
.gitignore
