# Ignorar imágenes y directorios de imágenes
128imgs.png
imgs_128/
train_imgs/
generated_images/
generated_nodules/
docker/

# Ignorar caché de Python
__pycache__/

# Ignorar todos los modelos entrenados por defecto
train_models/*

#Ignorar archivos los script que no sean de entrenamiento
sync_remote.sh

# Ignorar todo en logs, excepto el archivo .txt
logs/*
!logs/gan1/*.txt
!logs/gan2/*.txt
!logs/gan4NodulesCropped_finetunning/*.txt
!logs/gan5Calc/*.txt

# Excluir este script y el .gitignore generado
git.sh
.gitignore
